.story{
    display: flex;
    background-image: url(img/story.jpg);
    background-size: 100%;
    height: 433px;
    margin: 5% 0 5% 0;

    &__container{
        margin: auto;
    }

    &__text{
        text-align: center;

        h1{
            margin-top: 15%;
            @include fontz(32px, 500, $accent-font)
        }
    }
    .button{
        margin: 20px auto;
        @extend %button;
        width: 141px;
        height: 40px;

    }
}

@media(max-width:1360px){
    .story{
        height: 340px;

        &__text{
            h1{
                margin-top: 10%;
                @include fontz(30px, 500, $accent-font)
            }
        }
    }
}
@media(max-width:1070px){
    .story{
        height: 270px;
    }
}
@media(max-width:850px){
    .story{
        height: 200px;

        &__text{
            h1{
                margin-top: 5%;
                @include fontz(24px, 500, $accent-font);
                margin-bottom: 0;
            }
        }
        .button{
            margin: 1% auto;
        }
    }
}
@media(max-width:640px){
    .story{
        height: 150px;

        &__text{
            h1{
                margin-top: 0%;
                @include fontz(18px, 500, $accent-font);
                margin-bottom: 0;
            }
        }
        .button{
            margin: 1% auto;
            font-size: 14px;
            width: 120px;
            height: 30px;
        }
    }
}
@media(max-width:460px){
    .story{
        height: 100px;

        &__text{
            h1{
                margin-top: 0%;
                @include fontz(16px, 500, $accent-font);
                margin-bottom: 0;
            }
        }
        .button{
            margin: 1% auto;
            font-size: 10px;
            width: 90px;
            height: 20px;
        }
    }
}